<div class='card border-top-0'>
    <div class="row card-title-row gx-5 gy-6">
        <span class='col-12 card-title bg-success text-white text-center'>
            <a href="/users/{{user.id}}" class="card-title-link">{{user.first_name}} {{user.last_name}}</a>
        </span>
    </div>
    
    <div class="row">
        <div class='col-4 text-center d-none d-xl-block'>Activities</div>
        <div class='col-4 text-center d-none d-xl-block'>Following</div>
        <div class='col-4 text-center d-none d-xl-block'>Followers</div>
    </div>
    <div class="row">
        <div class='col-4 text-center d-none d-xl-block'>{{user.activities | length}}</div>
        <div class='col-4 text-center d-none d-xl-block'>{{user.following | length}}</div>
        <div class='col-4 text-center d-none d-xl-block'>{{user.followers | length}}</div>
    </div>
    <br>
    <div class="row card-body">
        {% include 'includes/users/user_card_images.html' %}
    </div>
    <div class="row gx-0">
        {% if user in g.user.following %}
        <a href=""></a>
        <button id="{{g.user.id}}-{{user.id}}" class='btn btn-light btn-block'>Unfollow Athlete</button>
        {% elif user == g.user or (g.user and g.user.is_admin())%}
        <div class="row gx-0">
            <a href="/users/{{user.id}}/edit" class="btn btn-light btn-block">Edit Account</a>
        </div>
        <br>
        <div class="row">
            <br>
        </div>
        <div class="row gx-0">
            <a href="/activities/new" class="btn btn-light btn-block">Upload Activity</a>
        </div>
        <div class="row">
            <br>
        </div>
        <form action="/users/{{g.user.id}}/delete" method="POST">
        <div class="row gx-0">
                <button id='delete-account-btn' class="btn btn-light btn-block">Delete Account</button>
        </div>
        </form>
        {% else %}
            <button id="{{g.user.id}}-{{user.id}}" class='btn btn-light btn-block'>Follow Athlete</button>
        {% endif %}
    </div>
</div>

{% include 'includes/axios_headers.html' %}