{% extends 'base.html' %}

{% block title %}
{{landmark.name}}
{% endblock %}

{% block content %}

<div class="row">
    <span class="col-3 d-none d-lg-block">
        {% if g.user %}
        {% include 'includes/users/logged_in_user_card.html' %}
        {% else %} 
        {% include 'includes/users/register_card.html' %}
        {% endif %}
    </span>
    <span class="col-lg-1"></span>
    <span class='col-sm-12 col-lg-7 g-0'>
        {% include 'includes/landmarks/landmark_card.html' %}
    </span>
    <span class="col-lg-1"></span>
</div>


{% if activities %}
<div class="row">
    <div class="row">
        <span class="col-3 d-none d-lg-block"></span>
        <span class="col-lg-1"></span>
        <span class='col-sm-12 col-lg-7 gx-0'>
            <h4>Friend's Activities at {{landmark.name}}</h4>
        </span>
        <span class="col-lg-1"></span>
</div>
<div class="row">
<span class="col-3 d-none d-lg-block"></span>
<span class="col-lg-1"></span>
<span class='col-sm-12 col-lg-7 gx-0'>
    {% for activity in activities %}
    {% include 'includes/activities/activity_card.html' %}
    {% endfor %}
</span>
<span class="col-lg-1"></span>
</div>

{% endif %}

{% endblock %}