<!DOCTYPE html>
<html>
<head>
    {% include 'includes/base_headers.html' %}
    {% include 'includes/maps/map_headers.html' %}
<title>Activity</title>
</head>
<body>
    {% include 'includes/navbar.html' %}
    <br>
    <div class="main-body">
        <div class="row user-list">
            <span class="col-lg-2"></span>
            <span class='col-sm-12 col-lg-8'>
                    {% include 'includes/activities/activity_total_card.html' %}
            </span>
            <span class="col-lg-2"></span>
        </div>
    
    </div>
</body>
</html>