{% extends 'base_onboarding.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="row onboarding">
    <span class="col-1"></span>
    <span class="col-6">
        <div class='card border-top-0'>
            <div class="row card-title-row gx-5">
                <span class='col-12 card-title bg-success text-white text-center'>
                    <a href="/register" class="card-title-link">About Us</a>
                </span>
            </div>
        
            <div class="row card-body text-center">
                <p>
                    SOKA is a social media site for orienteers, explorers, and adventurers that provides
                    challenging missions for any mode of transportation. Each challenge requires you to plan, prepare, and
                    share activities that will get you outdoors and enjoying new destinations. 
                </p>
                <p>
                    Each challenge consists of a set of landmarks, GPS coordinates, and a set of gear recommendations. It’s up to
                    you to determine your route, mode of transportation, equipment, and time to hit the trails. 
                </p>   
                <p>
                    SOKA provides you with tools to plan your activity, check local weather forecasts, and gear track of gear usage.
                    Our algorithms will check your activity against the challenge requirements, and our servers will provide a platform for
                    you to share your activities with your friends and families.
                </p>
            </div>

            <div class="row gx-0 mt-2">
                <a href="/register" class="btn btn-light btn-block">Register today to seek adventure!</a>
            </div>
        </div>
                    
    </span>
    <span class="col-5"></span>
</div>


{% endblock %}