{% extends 'base.html' %}

{% block title %}
All Gear
{% endblock %}

{% block content %}
<div class="row user-list">
    <span class="col-12 col-lg-3">
        {% include 'includes/logged_in_user_card.html' %}
    </span>
    <span class="col-0 col-lg-1"></span>
    <span class='col-12 col-lg-8 gx-0'>
        <div class="row">
            {% for item in gear %}
            <div class="col-0 col-lg-1"></div>
            <div class="col-12 col-lg-5">
                {% include 'includes/user_gear_card.html' %}
            </div>
            {% endfor %}
        </div>
    </span>
</div>

{% endblock %}